@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: #000 !important;
    font-family: 'Oswald', sans-serif !important;
    padding-top: 3%;

}

header{
    background-color: #333;
    padding: 15px 10px;
}
header nav{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}
header nav a{
    letter-spacing: 1px;
    background-color: #555;
    text-decoration: none;
    color: #fff;
    display: block;
    text-align: center;
    width: 50%;
    transition: 200ms;
}
header nav a:hover{
    background-color: #222;
    color: #fff;

}


/* =========- BLOCK1 -=========== */
.block1{
    height: 60vh;
    margin-top: 5px;
    width: 98%;
    padding: 15px 10px;
    background-color: #333;
    
}
.block1 div{
    width: 100%;
    height: 100%;
    background-image: url('Img/black-friday-tag-glowing-neon-lights_1017-16175.jpg');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}


.block2{
    margin-top: 5px;
    width: 98%;
    padding: 15px 10px;
    background-color: #333;
    
}
.settings{
    align-items: center;
    perspective: 500px;
}
.settings .search{
    width: 40%; 
    align-items: center;
    background-color: #222;
}
.settings .search i{
    color: #555;
}
.settings .search input{
    width: 94%;
    color: #fff;
    background-color: #222;
    outline: 0px;
    border: 0px;
    padding: 5px 10px;
}
.settings .setting_link{
    margin-left: 2%;
}

.settings .setting_link button{
    border: 0px;
    background-color: #222;
    color: #fff;
    transition: 200ms;
}

.settings .setting_link button:hover{

    color: #aaa;
}


.card_box{
    margin-top: 5px;
    width: 100%;
    padding: 30px 10px 15px 10px;
    background-color: #222;
    border-left: 10px solid #333;
    border-right: 10px solid #333;
    border-bottom: 10px solid #333;
    flex-wrap: wrap;
    justify-content: center;

    perspective: 500px;
}
.card{
    width: 250px;
    height: 220px;
    margin: 10px 5px;
    background-color: rgba(0, 0, 0, 0) !important;
    border: 0px !important;
    transition: 500ms;
    position: relative;
    z-index: 20;
}
.card:hover{
    transform: scale(1.2, 1.2);
    z-index: 9999;
    background-color: #222 !important;
}

.card:hover::before{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgb(18,179,255);
background: linear-gradient(143deg, rgba(18,179,255,1) 37%, rgba(167,0,255,1) 62%);
    width: 100%;
    filter: blur(25px);
    transform: translateY(30px) scale(1);
}

.card:hover:nth-child(3)::before{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgb(210,0,255);
    background: radial-gradient(circle, rgba(210,0,255,1) 0%, rgba(0,0,0,1) 100%);
    width: 100%;
    filter: blur(25px);
    transform: translateY(30px) scale(1);
}

.card:hover:nth-child(8)::before{
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgb(0, 0, 0) 0%, rgb(53, 248, 4) 100%);
    width: 100%;
    filter: blur(25px);
    transform: translateY(30px) scale(1);
}
.card_img{
    width: 100%;
    overflow: hidden;
    height: 60%;
    z-index: 21;
}
.card_img img{
    z-index: 21;
    width: 100%;
    height: 100%;
}
.card_text{
    z-index: 21;
    margin-top: 5px;
    height: 40%;
    width: 100%;
    color: #fff !important;

    border: 0px;
    padding: 5px 15px;
}




.block3{
    margin-top: 5px;
    width: 100%;
    padding: 30px 10px 15px 10px;
    background-color: #222;
    border-left: 10px solid #333;
    border-right: 10px solid #333;
    border-bottom: 10px solid #333;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}
.block3 iframe{
    border: 10px solid #333;
}

